.page-nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    color: #ffffff;
}

.page-nav-brandtitle {
    font-size: 1.5rem;
    margin: 0.5rem;

}

.page-nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.page-nav-links li {
    list-style: none;
}

.page-nav-links li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding:0.5rem;
    
}

.page-nav-links li a:hover {
    background-color: #555555;
    cursor:pointer;

}


.page-nav-togglebtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.page-nav-togglebtn .bar {
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}

@media screen and (max-width:1024px) {
    body {
        border: 2px solid blue;
    }

    .page-nav-togglebtn {
        display: flex;
    }

    /* Set Navigation Links Display to none unless .page-nav-togglebtn is clicked (Navigation Menu Trigger Icon) */
    .page-nav-links {
        display: none;
        width: 100%;
    }

    .page-nav-main {
        flex-direction: column;
        align-items: flex-start;
    }

    .page-nav-links ul {
        width: 100%;
        flex-direction: column;
    }

    .page-nav-links li {
        text-align: center;
    }

    .page-nav-links a {
        padding: 1rem;
    }


    /* CSS: NavigationMenu Styles For Navigation Menu Toggle */
    /* Adding Active Class Causes display:none; to change to display:flex; (flex-column Navigation Bar Trick) */
    .page-nav-links.active {
        display: flex;
        transition: scale(1.1);
        transition-delay: 0.5s;
    }
    .page-nav-links.page-menulink-animation{
        background: #000; 
    }

}

@media screen and (max-width:768px) {
    body {
        border: 2px solid transparent;
    }

    .page-nav-togglebtn {
        display: flex;
    }

    /* Set Navigation Links Display to none unless .page-nav-togglebtn is clicked (Navigation Menu Trigger Icon) */
    .page-nav-links {
        display: none;
        width: 100%;
    }

    .page-nav-main {
        flex-direction: column;
        align-items: flex-start;
    }

    .page-nav-links ul {
        width: 100%;
        flex-direction: column;
    }

    .page-nav-links li {
        text-align: center;
    }

    .page-nav-links a {
        padding: 1rem;
    }


    /* CSS: NavigationMenu Styles For Navigation Menu Toggle */
    /* Adding Active Class Causes display:none; to change to display:flex; (flex-column Navigation Bar Trick) */
    .page-nav-links.active {
        display: flex;
      
    }
    .page-nav-links.page-menulink-animation{
        background: #000;
        border:2px solid red;
        transform: scale(1.1)
    }

  
}